*.txt
*.md
node_modules/fast-glob/node_modules/glob-parent/LICENSE
*.ts
*.json
*.js
node_modules/sucrase/bin/sucrase-node
*.map
node_modules/wrap-ansi-cjs/node_modules/ansi-styles/license
*.yml
*.coffee
*.cjs
node_modules/is-core-module/.eslintrc
*.ps1
*.cmd
node_modules/.bin/sucrase
*.mp4
